/* 
  Purpose: Styles for the daytime_activities.html
        
  Author: Lim Yu Her 

  Filename: daytime_styles.css
*/


/* styles for the back button */
.previous {
  text-decoration: none;
  display: inline-block;
  padding: .5em .8em;
  margin-top: 1rem;
  background-color: rgba(246, 247, 212, 0.6);
  border-radius: 50%;
  transition: .5s ease;
}

a.previous:hover {
  background-color: rgba(252, 255, 153, 0.6);
  transform: scale(1.2, 1.2);
}


/* styles for the introduction section */
.intro {
  background-color: rgba(246, 247, 212, 0.6);
}

.intro h1 {
  font-family: 'Playfair Display', 'Unna', 'Times New Roman', Times, serif;
  font-size: 2em;
  text-align: center;
}


/* card styles */
.card:not(.intro) {
  background-color: rgba(246, 247, 212, 0.6);
}

.card p {
  line-height: 1.5;
  /* padding: 0.5em 0; */
}

/* styles for images inside cards*/
.card img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: transform 0.25s ease;
}

.card img:hover {
  transform: scale(1.5);
}

/* style for the container that has the image and the description */
.container {
  width: 50%;
  box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.5);
}

/* styles for the description for the images */
div.desc, div.mobiledesc{
  width: 100%;
  padding: 1em;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.8);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

div.mobiledesc {
  display: none;
}


/*styles for hiking and atv article */
.hiking .container {
  float: left;
  margin-right: 1em;
  margin-bottom: 1rem;
}

.atv .container {
  float: right;
  margin-left: 1em;
}

.hiking h2, .atv h2 {
  font-family: 'Playfair Display', 'Unna', 'Times New Roman', Times, serif;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.atv h2 {
  text-align: right;
}

/* for the space after each paragraph */
.atv p:nth-of-type(n+2), .hiking p:nth-of-type(n+2) {
  padding-top: 2rem;
}


/* styles for the aside element */
aside {
  float: right;
  clear: right;
  background-color: rgba(237, 239, 169, 0.7);
  width: 50%;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-top: 1em;
  border: 0.2rem solid rgba(147, 151, 28, 0.7);
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Responsive layout - when the screen is less than 800px wide */
@media screen and (max-width: 800px) {

  .card h2 {
    text-align: center;
  }

  .hiking .container, .atv .container{
    float: none;
    width: 100%;
    margin: 1rem 0;
  }

  div.desc {
    display: none;
  }

  div.mobiledesc {
    display: block;
  }

  aside {
    float: none;
    width: 100%;
    margin: 1em 0;
  }

}

